// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#body-callback{
    min-width: 350px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}